<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
		        <meta description="Work and Bio of Xiangyu Yu">
	                <meta name="viewport" content="width=device-width, initial-scale=1"> 
			<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
			<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
		</head>
		<body>
			<section class="page-header"> 
			<nav>				
				<a href="/" style="color: white; margin: 0 20px;">Home</a>
				<a href="/bio" style="color: white; margin: 0 20px;">About Me</a>
				<a href="/research" style="color: white; margin: 0 20px;">Research</a>
				<a href="/courses" style="color: white; margin: 0 20px;">Courses</a>
				<a href="/contact" style="color: white; margin: 0 20px;">Contact</a>
			</nav>
			
			</section>	
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
